<!DOCTYPE html>

<html>
  <head>
    <title>Wagni | File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://avatars3.githubusercontent.com/u/61193321?s=460&u=7389af39e9b0236cb9ee8cdba6508afa90dcb9ff&v=4"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>
        File Uploader
        <img
          src="https://image.flaticon.com/icons/svg/892/892311.svg"
          width="50"
          height="50"
          alt="upload"
        />
      </h1>
      <div class="view">
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <div class="form-group">
            <input
              id="inputfield"
              type="file"
              name="upfile"
              class="form-control"
            />
            <br />
            <button id="button" type="submit" class="btn btn-primary">
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>
        Coded by
        <a href="https://github.com/Walf-dev">Wagni Fredoly</a>
      </p>
    </div>
  </body>
</html>
