/****** Main Styling ******/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #ECF0F1;
  text-align: center;
}

h1 {
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
  text-align: center;
}

ol {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}
input#button {
  width: 230px;
}
.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #cce6ff;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
